* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      background: #f4f5fa;
      display: flex;
    }

    .sidebar {
      width: 240px;
      height: 100vh;
      line-height: 25px;
      background: #fff;
      padding: 25px 20px;
      border-right: 1px solid #ddd;
      position: fixed;
      top: 0;
      left: 0;
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: bold;
      font-size: 20px;
      color: #4a59ff;
      margin-bottom: 30px;
    }

    .menu {
      margin-top: 20px;
    }
    .menu-item {
        list-style-type: none;
      height: 60px;
      padding: 18px;
      border-radius: 8px;
      font-size: 15px;
      margin-bottom: 10px;
      cursor: pointer;
      color: #444;
    }

    .menu-item:hover {
      background-color: #e8ebff;
      color: blue;
    }
    .menu-item.active {
      background: #e8ebff;
      color: #4a59ff;
      font-weight: bold;
    }

    .main {
      margin-left: 260px;
      width: calc(100% - 260px);
      padding: 20px;
    }

    .topbar {
      background: #fff;
      padding: 15px 20px;
      border-radius: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 2px 5px rgba(0,0,0,0.06);
      position: sticky;
      top: 0;
      z-index: 999;
    }

    .search-input {
      padding: 10px;
      width: 260px;
      border-radius: 8px;
      border: 1px solid #ccc;
    }

    .icons span {
      margin-left: 15px;
      font-size: 20px;
      cursor: pointer;
    }

    .stats {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }

    .boxes {
      background: #fff;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.06);
    }

    .title { 
        color: #666; 
        font-size: 15px; 
    }

    .value { 
        font-size: 20px; 
        margin-top: 5px; 
        font-weight: bold; 
    }


    .section-title {
      font-size: 20px;
      font-weight: bold;
      margin: 25px 0 10px;
    }

    .courses {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
      gap: 20px;
    }

    .course-card {
      background: #fff;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.07);
    }

    p{
        margin-top: 30px;
        color: #444
    }

    .tag {
      background: #e8ebff;
      color: #4a59ff;
      padding: 6px 12px;
      border-radius: 8px;
      font-size: 12px;
      display: inline-block;
      margin-bottom: 10px;
    }

    .progress {
      height: 8px;
      background: #ddd;
      width: 100%;
      border-radius: 5px;
      margin-top: 8px;
    }
    .progress-fill {
      background: #4a59ff;
      height: 100%;
      border-radius: 5px;
    }

    .btn {
      margin-top: 15px;
      background: #4a59ff;
      color: #fff;
      padding: 12px;
      text-align: center;
      border-radius: 8px;
      cursor: pointer;
      font-weight: bold;
    }

    .right {
      width: 320px;
      margin-left: 20px;
      position: sticky;
      top: 90px;
      height: fit-content;
    }

    .box {
      background: #fff;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.06);
      margin-bottom: 20px;
    }